<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkinghack.criminalquerybase.dao.mapper.UserMapper">
    <resultMap id="user" type="com.linkinghack.criminalquerymodel.data_model.User">
        <id column="uid" property="id" javaType="Integer"/>
        <result column="ch_user_id" property="userID"/>
        <result column="ch_password_sha256" property="password"/>
        <result column="ch_email" property="email" />
        <result column="ch_realName" property="realName" />
        <result column="i_role" property="role" />
        <result column="i_department_id" property="departmentID"/>
        <result column="b_activated" property="activated"/>
        <result column="ch_phone" property="phone"/>
        <association property="department" resultMap="com.linkinghack.criminalquerybase.dao.mapper.DepartmentMapper.department"/>
    </resultMap>
    
    <select id="selectUserByID" resultMap="user" parameterType="java.lang.Integer">
        select  users.i_id as uid, ch_user_id, ch_password_sha256, ch_email, ch_realname, i_role, i_department_id, b_activated, ch_phone,
                department.i_id as did, ch_department_name, i_supervisor_id, i_level, i_district_id
        from b_users as users left join b_departments as department on users.i_department_id = department.i_id
        where users.i_id = #{id}
    </select>

    <select id="selectUserByUserID" resultMap="user" parameterType="java.lang.String">
        select  users.i_id as uid, ch_user_id, ch_password_sha256, ch_email, ch_realname, i_role, i_department_id, b_activated, ch_phone,
               department.i_id as did, ch_department_name, i_supervisor_id, i_level, i_district_id
        from b_users as users left join b_departments as department on users.i_department_id = department.i_id
        where ch_user_id = #{userID}
    </select>

    <select id="users" resultMap="user">
        select  users.i_id as uid, ch_user_id, ch_password_sha256, ch_email, ch_realname, i_role, i_department_id, b_activated, ch_phone,
                department.i_id as did, ch_department_name, i_supervisor_id, i_level, i_district_id
        from b_users as users left join b_departments as department on users.i_department_id = department.i_id
        where b_activated = true
        <if test="nameOrID != null"> AND ch_user_id like #{nameOrID} or ch_realName like #{nameOrID}</if>
        order by ts_created_at
        <if test="pageSize != null">limit #{pageSize}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <select id="inactivatedUsers" parameterType="com.linkinghack.criminalquerymodel.transfer_model.SearchUserRequest" resultMap="user">
        select  users.i_id as uid, ch_user_id, ch_password_sha256, ch_email, ch_realname, i_role, i_department_id, b_activated, ch_phone,
            department.i_id as did, ch_department_name, i_supervisor_id, i_level, i_district_id
        from b_users as users left join b_departments as department on users.i_department_id = department.i_id
        where b_activated = false
        <if test="nameOrID != null"> AND ch_user_id like #{nameOrID} or ch_realName like #{nameOrID}</if>
        order by ts_created_at
        <if test="pageSize != null">limit #{pageSize}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <select id="getUserDepartment" parameterType="Integer" resultMap="com.linkinghack.criminalquerybase.dao.mapper.DepartmentMapper.department">
        select b_departments.i_id as did, ch_department_name, i_supervisor_id, i_level, i_district_id
        from b_departments left join b_users on b_users.i_department_id = b_departments.i_id
        where b_users.i_id = #{UID}
    </select>

    <insert id="createUser" parameterType="com.linkinghack.criminalquerymodel.data_model.User" useGeneratedKeys="true">
        insert into b_users(ch_user_id, ch_password_sha256, ch_email, ch_realname, i_role, i_department_id, b_activated, ch_phone)
        values ( #{userID}, #{password}, #{email}, #{realName}, #{role}, #{departmentID}, #{activated}, #{phone} )
    </insert>

    <update id="updateUser" parameterType="com.linkinghack.criminalquerymodel.data_model.User">
        update b_users set ch_email = #{email}, ch_password_sha256 = #{password}, ch_realName = #{realName}, i_role = #{role},
                            i_department_id = #{departmentID}, b_activated = #{activated}, ch_phone = #{phone},
                            ts_updated_at = now()
        where i_id = #{id}
    </update>

    <update id="updatePassword" >
        update b_users set ch_password_sha256 = #{newPassword}, ts_updated_at = now() where ch_user_id = #{userID}
    </update>

    <update id="activateUser" parameterType="Integer">
        update b_users set b_activated = true, ts_updated_at = now()
        where i_id = #{id}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        delete from b_users where i_id = #{id}
    </delete>
</mapper>