<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkinghack.criminalquery.dao.mapper.DistrictMapper">
    <resultMap id="oneDistrict" type="com.linkinghack.criminalquery.model.District">
        <id column="i_id" property="id"/>
        <result column="i_supervisor_id" property="supervisorId"/>
        <result column="i_level" property="level"/>
        <result column="ia_path_root" property="path" typeHandler="com.linkinghack.criminalquery.dao.mapper.IntArrayHandler"/>
        <result column="ch_name" property="name"/>
        <result column="ch_province_name" property="province"/>
        <result column="ch_city_name" property="city"/>
        <result column="ch_county_name" property="county"/>
    </resultMap>

    <select id="selectDistrictsByLevel" parameterType="Integer" resultMap="oneDistrict">
        select * from b_districts where i_level = #{level}
    </select>

    <select id="findSubDistricts" parameterType="Integer" resultMap="oneDistrict">
        select * from b_districts where i_supervisor_id = #{supervisorID}
    </select>
</mapper>